@{
    ViewData["Title"] = "Cadastrar Produto";
}

@section Styles {
    <link rel="stylesheet" href="~/wwwroot/css/site.css" />
}

@model CrudVega.Models.MaterialModel;

<h1>Cadastrar Produto</h1>
<div class="container Material-Create-container">
    <div class="row Material-Create-row">
        <form asp-action="CreateMaterial" method="post" class="col-7 Material-Create-formSpace">
            <div class="row">
                <select class="form-select form-control-sm Material-Create-formData" aria-label="Default select example" asp-for="IdSupplier">
                    <option selected>Fornecedor</option>
                    @if(ViewData["Suppliers"] != null)
                    {
                        var suppliers = ViewData["Suppliers"] as IEnumerable<SupplierModel>;
                        foreach (var supplier in suppliers)
                        {
                            <option value="@supplier.Id">@supplier.Id.ToString() - @supplier.Name.ToString()</option>
                        }
                    }
                </select>
                <input class="form-control form-control-sm Material-Create-formData" type="text" placeholder="Código" asp-for="Code">
                <input class="form-control form-control-sm Material-Create-formData" type="text" placeholder="Nome" asp-for="Name">
                <input class="form-control form-control-sm Material-Create-formData" type="text" placeholder="Descrição" asp-for="Description">
                <input class="form-control form-control-sm Material-Create-formData" type="text" placeholder="Código Fiscal" asp-for="FiscalCode">
                <select class="form-select form-control-sm Material-Create-formData" aria-label="Default select example" asp-for="Specie">
                    <option selected>Espécie</option>
                    <option value="Calcado">Calçado</option>
                    <option value="Roupa">Roupa</option>
                    <option value="Acessorio">Acessório</option>
                    <option value="Equipamento">Equipamento</option>
                </select>


                <button class="btn btn-primary col-12" type="submit">Cadastrar</button>
            </div>
        </form>
        <br />
        <a class="btn btn-secondary col-7 Material-Create-backBtn" asp-controller="Material" asp-action="Index">Voltar</a>
    </div>
</div>
