@{
    ViewData["Title"] = "Cadastrar Fornecedor";
}

@section Styles {
    <link rel="stylesheet" href="~/wwwroot/css/site.css" />
}

@model CrudVega.Models.SupplierModel;

<h1>Cadastrar Fornecedor</h1>
<div class="container Supplier-Create-container">
    <div class="row Supplier-Create-row">
        <form asp-action="CreateSupplier" method="post" class="col-7 Supplier-Create-formSpace">
            <div class="row">
                <input class="form-control form-control-sm Supplier-Create-formData" type="text" placeholder="Nome" asp-for="Name">
                <input class="form-control form-control-sm Supplier-Create-formData" type="text" placeholder="Telefone" asp-for="Telephone">
                <input class="form-control form-control-sm Supplier-Create-formData" type="text" placeholder="CNPJ" asp-for="CNPJ">
                <input class="form-control form-control-sm Supplier-Create-formData" type="text" placeholder="CEP" asp-for="CEP">
                <input class="form-control form-control-sm Supplier-Create-formData" type="text" placeholder="Endereço" asp-for="Address">

                <button class="btn btn-primary col-12" type="submit">Cadastrar</button>
            </div>
        </form>
        <br />
        <a class="btn btn-secondary col-7 Supplier-Create-backBtn" asp-controller="Supplier" asp-action="Index">Voltar</a>
    </div>
</div>
